/CompareTxt(JAVA1) - 複製/build/
/CompareTxt(JAVA1) - 複製/nbproject/private/
/CompareTxt(JAVA修正後)/build/
/CompareTxt(JAVA修正後)/nbproject/private/
/CompareTxt(JAVA修正前)/build/
/CompareTxt(JAVA修正前)/nbproject/private/
/CompareTxt(JAVA修正使用方法前)/build/
/CompareTxt(JAVA修正使用方法前)/nbproject/private/
/CompareTxt(JAVA修正使用方法後)/build/
/CompareTxt(JAVA修正使用方法後)/nbproject/private/
/swapMutation/nbproject/private/
/swapMutation/build/
/swapmutation/nbproject/private/
/shiftmutation/nbproject/private/